@model Evented.Web.CommentVM



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div class="form-group">

                <input asp-for="Text" class="form-control"  placeholder="Comment"/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
         
         
            <div class="form-group">
                <input name="button" id="button" type="submit" value="Comment" class="btn btn-primary " />
            </div>
        </form>
    </div>
</div>

